# exportPattern("^[[:alpha:]]+")

export(posthoc.kruskal.nemenyi.test, posthoc.friedman.nemenyi.test)

S3method(posthoc.kruskal.nemenyi.test, default)
S3method(posthoc.kruskal.nemenyi.test, formula)
S3method(posthoc.friedman.nemenyi.test, default)
S3method(posthoc.friedman.nemenyi.test, formula)

